@import "../../node_modules/mono-icons/iconfont/icons.css";

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: zoom-out;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;

  & > .overlay-loading {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 2em;
    position: fixed;
  }

  & > .overlay-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    & > .overlay-image {
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 100%;
    }

    & > .overlay-caption {
      color: #fff;
      text-align: center;
      z-index: 9900;
    }

    & > .overlay-tools {
      text-align: center;
      margin-top: 1.5rem;;
      z-index: 9900;

      button {
        color: #f8f9fa;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid #f8f9fa;
        padding: .25rem .5rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }

  /*
      & > .overlay-image {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        & > img {
          max-height: 100%;
          width: auto;
        }

        & > .overlay-caption {
          bottom: 0;
          color: #fff;
          text-align: center;
          z-index: 15;
        }
      }
      */
}
